<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Html</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
 <nav class="navbar navbar-inverse" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'files:create' %}">
                    <span class="glyphicon glyphicon-pencil"></span> Files</a></li>
                <li><a href="{% url 'login:logout' %}">
                    <span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login:signup' %}">
                    <span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li><a href="{% url 'login:login' %}">
                    <span class="glyphicon glyphicon-log-in"></span> Log In</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </nav>
    <div class="container mycontent">

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>